<li>
    {{name}}

    <button class="change-discovered" data-id="{{id}}" data-isDiscovered="{{unexplored}}">
		{{#if unexplored}}Explore this Planet!{{else}}Already explored{{/if}}
	</button>

    <button class="delete-planet" data-id="{{this.id}}">DELETE PLANET</button>
</li>